@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code, pre {
    background-color: #333;
    color: white;
    padding: 10px;
}

/* Navbar section */

.hidden {
    visibility: hidden;
    height: 0px;
}

.navbar {
  background-color: var(--primary-color);
  color: white;
  height: 70px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 1px white solid;
}

.navbar .flex {
    justify-content: space-between;
}

/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase-form h2 {
    color: #333;
}

.showcase .grid {
    grid-template-columns: 55% auto;
    gap: 30px;
    overflow: visible; /*this removes the scroll bar and makes anything that breaks boundaries visible. Creates the cool overhang effect */
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in;
}

.showcase-form {
    animation: slideInFromRight 1s ease-in;
}

.showcase-form {
    position: relative; /* if you want to use top bottom left or right properties you need to set the position to relative or absolute */
    top: 0px;
    height: 350px;
    min-width: 300px;
    padding: 40px;
    z-index: 100; /* ensures the form is visible - higher number the more forward it is */
    justify-self: flex-end; /* pushes the form to the right */
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'], /* Only selects input types of text and email - this is needed cause we only used one class for all input except for the button */
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none; /*when selected this will no longer add an outline to the box */
}

.showcase::before,
.showcase::after {  /*36 min - this bit ads the bottom of the showcase with the angled slant- it adds an extra whit bit to create a slant*/
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: white;
    transform: skewY(-3deg);
    -webki-transform: skewY(-3deg); /*ensures the transform is compatible on all browsers - may not be required */
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}

/*Stats*/

.stats {
    padding-top: 100px;
}

.stats-heading {
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

.stats {
    animation: slideInFromBottom 1s ease-in;
}

/*Cli */

.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 1fr);
}

.cli .grid img {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

/*Cloud*/

.cloud .grid {
    grid-template-columns: 4fr 3fr;
    padding: 20px;
}

.grid {
    margin-top: 20px;
}

/*Languages */
.languages .card {
    text-align: center;
    Margin: 18px 10px 40px;
    transition: transform 0.2 ease-in; /*this is added to the non hover css element to create a smooth transition not a snapping one */
}

.languages .flex {
    flex-wrap: wrap;
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px); /*creates a hover effect moving the element up 15px when the cursor is placed over it */
}


/*Features*/
.features-head img,
.docs-head img {
    width: 200px;
    justify-self: flex-end; /*Justifies just this item only and pushes it to the right of the container */

}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-sub-head h1  {
    font-size: 26px;
    font-weight: bold;
}

  .fas {
    margin-right: 20px;
  }


.features-main .grid {
    padding: 30px;
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
  }

  .features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
  }

  .features-head {
    padding-bottom: 15px;
  }


  /*DOCS*/

.docs-main h3 {
    margin: 20px;
}

.docs-main .grid {
    grid-template-columns: 1fr / 2fr;
    align-items: flex-start;
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main nav li:hover {
    font-weight: bold;
}



/*footer*/

.footer .social a {
    margin: 10px 10px;
}


/*animations using key frames */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%)

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%)

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%)

    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%)

    }

    100% {
        transform: translateX(0);
    }
}

/* Tablets and Under */
@media(max-width: 768px) {

    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .features-head .grid,
    .features-sub-head .grid,
    .docs-main .grid,
    .docs-head .grid {
        grid-template-columns: 1fr; /* Makes the site a single column layout for mobile - form/showcase still needs adjusting though */
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }


    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .cli .grid img {
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    } /*this makes the grid columns into 1 single column*/


.features-head img,
.features-sub-head img,
.docs-head img {
    justify-self: center;
}


}



/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: 0, 0, 0, 0.1;
    }

    .showcase-form {
        width: 100%;

    }

}